.main{
    font-family: montserrat;
    background-color: black;
    color: white;
}
.center{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.ring{
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}
@keyframes ring {
0%{
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #900475;
}
50%{
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #a31442;
}
0%{
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #153362;
}
}
.ring::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255,255,255,.3);
}
.load{
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
}